* {
  font-family: "Fraunces", serif;
  color: white;
}

body{
  margin: 0;
  background-color: silver;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.calcu{
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: rgb(110, 201, 110);
  padding: 15px;
  border-radius: 32px;
  
}

button{
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.5em;
  background-color: silver;
  box-shadow: 5px 5px 10px -3px #8E9AAF;
  border: none;
}

button:active{
  background-color: white;
}

.colum-2{
  grid-column: span 2;
}
.iii{
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #4f4f4a;
  border-radius: 20px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #f5f0f010;
   }

#valorDeAhora {
  font-size: 40px;
}
#valor1 {
  font-size: 40px;
}